.box{
    width: 162px;
    border: 1px #e66666;
    margin-top: 14px;
    margin-left: 91px;
}
h2{
    color: red;
    margin-top: 12px;
    margin-left: 10px;
}
img{
    width: 186px;
    height: 109px;
}
p{
    color: black;
    margin: 0;
}
